@charset "UTF-8";

html {
    font-size: 14px;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/IMG_8231.JPG);
    background-size: cover;
}

main {
    margin: 0 auto;
    padding: 20px;
    width: 920px;
    font-family: 'Kosugi Maru', sans-serif;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    border-radius: 20px;
}

#weather_1day_area #weather_1day__temp_max,
#weather_1day_area #weather_1day__temp_min {
    font-weight: bold;
    font-size: 30px;
}
#weather_1day_area #weather_1day__temp_max {
    color: #ca1114;
}
#weather_1day_area #weather_1day__temp_min {
    color: #183087;
}

#map input {
    display: none;
}

#map label {
    cursor: pointer;
    padding: 10px;
    background: #fff;
    line-height: 2.5;
}
#map label:hover {
    opacity: 0.5;
}